  <%= render 'layouts/navbar', title: 'Categories', back_url: nil, logout: true %>
<br/>
<main>
  <div class="card-list">
    <% @groups.each do |category| %>
      <div>
        <h2><%= link_to category.name, group_payments_path(group_id: category.id, class: 'text') %></h2>
        <div><%= category.icon%></div>
        <p><%= category.created_at.strftime('%d %B %Y') %></p>
        <br>
        <br>
        <hr>
      </div>
    <% end %>
  </div>
  <button class="add-btn" type="button">
    <%= link_to 'Add a new category', new_group_path %>
  </button>
</main>
