  <%= render 'layouts/navbar', title: 'Categories', back_url: nil, logout: true %>
<br/>
<main>
  <div class="cat-container">
    <% @groups.each do |category| %>
      <div class="cat-card">
        <h2><%= link_to category.name, group_payments_path(group_id: category.id, class: 'text') %></h2>
        <img src="<%= category.icon%>" alt="null">
        <p><%= category.created_at.strftime('%d %B %Y') %></p>
      </div>
    <% end %>
  </div>
    <%= render 'layouts/footer', title: 'Add a new category', path: new_group_path %>
</main>
