<%= render 'layouts/navbar', title: 'Transactions', back_url: groups_path, logout: true %>

<main>
  <div>
    <% if @payments.blank? %>
        <p>No Transaction Yet!</p>
    <% else %>
        <ul class="card-list">
          <% @payments.each do |payment| %>
              <li class="trans-card">
                <a><h2><%= payment.name %></h2></a>
                <a>$<%= payment.amount %></a>
                <%= button_to "Delete", group_payment_path(user_id: payment.user.id, group_id: payment.group.id, id: payment.id), method: :delete, class: "btn-del" %>
              </li>
          <% end %>
        </ul>
    <% end %>
  </div>
  <button class="green-btn" type="button">
    <%= link_to "Add Transaction", new_group_payment_path %>
  </button>
</main>
